[Unit]
Description=Morphee mananger
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/morphee/morphee-manager.py
WorkingDirectory=/opt/morphee
StandardOutput=append:/var/log/morphee-manager.log
StandardError=append:/var/log/morphee-manager.log
Restart=always
User=root
PIDFile=/tmp/morphee-manager.pid

[Install]
WantedBy=multi-user.target
