[Unit]
Description=Morphee lights manager
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/morphee/morphee-lights.py
WorkingDirectory=/opt/morphee
StandardOutput=append:/var/log/morphee-lights.log
StandardError=append:/var/log/morphee-lights.log
Restart=always
User=root
PIDFile=/tmp/morphee-lights.pid

[Install]
WantedBy=multi-user.target